@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root{
    --primary-color: #ffe77a;
    --secondary-color: #f0862f;
}

*{
    font-family: 'Montserrat', sans-serif;
}

body {
  background-color: var(--primary-color);
  text-align: center;
  font-weight: bold;
  margin: 0;
}

h1 {
  margin-block-start: 0.4em;
}

label {
  font-size: 1.1rem;
  display: block;
  margin: 0.5rem auto 0;
  padding: 0.5rem;
}

input {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  border: 1px solid black;
  border-radius: 1.5rem;
  display: block;
  margin: 0 auto;
  width: 12rem;
  padding: 0.75rem 1.25rem;
  background-color: #e1ecff;
}

button#check-button {
  font-family: Lato;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  background-color: var(--secondary-color);
  color: #000;
  border: 1px solid black;
  border-radius: 0.5rem;
  padding: 0.5rem 1.25rem;
  margin: 1rem auto 0.5rem;
}

button#check-button:hover {
  background-color: #000;
  color: #ffbb00;
}

h2#output-text {
  display: none;
  margin: 0.7em auto;
  font-size: 2rem;
}

div#privacy-notice {
  background-color: rgb(27, 27, 27);
  color: #e1ecff;
  border-radius: 0.5rem;
  font-size: 1.1rem;
  padding: 1rem;
  margin: 0.5rem auto 0;
  max-width: 90%;
  width: 520px;
}

/* footer */
.footer {
  background-color: var(--secondary-color);
  color: #000;
  text-align: center;
  padding: 1.05rem 0 0.85rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer .footer-heading {
  font-size: 1.4rem;
  padding: 0 0 1rem 0;
}
